@include media-breakpoint-up(lg) {
  .dropdown,
  .dropup,
  .dropstart,
  .dropend {
    .dropdown-menu {
      box-shadow: $dropdown-box-shadow;
      cursor: pointer;
    }

    .dropdown-toggle {
      &.show {
        transform: $dropdown-toggle-arrow-transform;
      }

      transition: $dropdown-toggle-arrow-transition;
    }
  }

  .dropdown,
  .dropup {
    .dropdown-menu {
      transition: $dropdown-transition;
      li {
        padding: $dropdown-li-padding;
      }
    }
  }

  .dropdown {
    &.dropdown-hover .dropdown-menu,
    .dropdown-menu {
      display: block;
      opacity: 0;
      top: 0;
      transform-origin: $dropdown-transform-origin;
      pointer-events: none;
      transform: $dropdown-transform;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      will-change: transform, box-shadow;
    }

    &.dropdown-hover:hover > .dropdown-menu,
    .dropdown-menu.show {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: $dropdown-transform-show;
    }

    &:not(.dropdown-hover) .dropdown-menu {
      margin-top: $dropdown-mt !important;
    }

    .dropdown-menu {
      transition: $dropdown-animation-arrow-transition;
    }

    .dropdown-item .arrow {
      transform: $dropdown-subitem-arrow-rotate;
    }
  }

  .dropdown-item {
    transition: background-color $dropdown-transition-time, color $dropdown-transition-time;
  }
}

@include media-breakpoint-down(lg) {
  .navbar-toggler + .navbar-collapse {
    .dropdown:not(.nav-item) {
      .dropdown-menu {
        display: block;
        opacity: 0;
        top: 0;
        transform-origin: $dropdown-transform-origin;
        pointer-events: none;
        transform: $dropdown-transform;
        transition: $dropdown-transition;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform, box-shadow;
        box-shadow: $dropdown-box-shadow;
      }

      &:not(.dropdown-hover) .dropdown-menu {
        margin-top: $dropdown-mt !important;
      }

      .dropdown-menu.show {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
      }
    }

    .dropdown.nav-item .dropdown-menu {
      background-color: transparent;
      overflow: scroll;
      position: relative;
      transform: none !important;
      box-shadow: none !important;
    }
  }

  :not(.navbar) .dropdown {
    .dropdown-menu {
      opacity: 0;
      top: 0;
      transform-origin: $dropdown-transform-origin;
      pointer-events: none;
      transform: $dropdown-transform;
      transition: $dropdown-transition;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      will-change: transform, box-shadow;
      box-shadow: $dropdown-box-shadow;
    }

    &:not(.dropdown-hover) .dropdown-menu {
      margin-top: $dropdown-mt !important;
    }

    .dropdown-menu.show {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
    }

    &.nav-item {
      .dropdown-menu {
        position: absolute;
      }
    }
  }

  .dropdown.nav-item .dropdown-menu-animation {
    display: block;
    height: 0;
    transition: all 0.35s ease;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    opacity: 0;

    &.show {
      height: 250px;
      opacity: 1;
    }
  }

  .navbar.blur {
    .dropdown {
      .dropdown-menu.show {
        transform: $dropdown-transform-responsive-show;
        box-shadow: none;
        margin-bottom: 1rem;
      }
    }
  }
}

// MultiLevel Dropdown Style
.dropdown-menu li {
  position: relative;
}

.dropdown {
  & > .dropdown-menu {
    .dropdown-item + .dropdown-menu {
      transform: $dropdown-multilevel-transform-show;
    }
  }
}

.dropdown .dropdown-menu .dropdown-item + .dropdown-menu {
  right: $dropdown-subitem-position-right;
  left: auto;
  top: 0;
}

// End MultiLevel Dropdown Style

.dropdown-image {
  background-size: cover;
}

@include media-breakpoint-up(lg) {
  .dropdown-xxl {
    min-width: $dropdown-xxl-min-width;
  }

  .dropdown-xl {
    min-width: $dropdown-xl-min-width;
  }

  .dropdown-lg {
    min-width: $dropdown-lg-min-width;
  }

  .dropdown-md {
    min-width: $dropdown-md-min-width;
  }
}

@include media-breakpoint-down(xl) {
  .dropdown-lg-responsive {
    min-width: $dropdown-lg-width-responsive;
  }
}