---
import Layout from '../layouts/Layout.astro';
import '../../assets/scss/astro-ecommerce.scss';
import ComplexNavbar from '../components/complexNavbar';
import ComplexFooter from '../components/complexFooter';
import Sidebar from '../components/sidebar';

const links = [
  {
    text: 'Profil',
    component: 'EditUser',
    icon: 'mdi mdi-contacts menu-icon'
  },
  {
    text: 'Ordre',
    component: 'OrderPanel',
    icon: 'mdi mdi-package-variant-closed-check'
  },
  {
    text: 'Kurv',
    component: 'ShoppingCart',
    icon: 'mdi mdi-cart-outline'
  },
  {
    text: 'Logud',
    component: 'Logud',
    icon: 'mdi mdi-logout'
  }
];
---
<Layout title="Brugerpanel">
  <main>
    <div id="navigation" style="margin-left: 250px;">
      <ComplexNavbar client:only />
    </div>
    <div id="sidebar">
      <Sidebar links={links} client:only />
    </div>
    <div id="footer" style="margin-left: 250px;">
      <ComplexFooter client:only />
    </div>
  </main>
</Layout>