---
import Layout from '../layouts/Layout.astro';
import '../../assets/scss/astro-ecommerce.scss';
import ComplexNavbar from '../components/complexNavbar';
import ComplexFooter from '../components/complexFooter';
import GendanFormular from '../components/profile/Gendan';
import {UserRoles} from '../../FrontendRequests/Enums/Usertypes.js'
---

<Layout title="Gendan">
	<main>
    <ComplexNavbar client:only />
    <div class="mx-auto text-center w-md-60 mb-5">
        <h3 style="padding-top: 39px;">Gendan</h3>
    </div>
    <GendanFormular client:only/>
    <ComplexFooter client:only />
  </main>
</Layout>