---
import Layout from '../layouts/Layout.astro';
import '../../assets/scss/astro-ecommerce.scss';
import ComplexNavbar from '../components/complexNavbar';
import ComplexFooter from '../components/complexFooter';
import {UserRoles} from '../../FrontendRequests/Enums/Usertypes.js'
import Sidebar from '../components/sidebar';
const links = [
  {
    text: 'Profil',
    component: 'EditUser',
    icon: 'mdi mdi-contacts menu-icon'
  },
  {
    text: 'Produkter',
    icon: 'mdi mdi-archive-arrow-up',
    submenu: [
    {
    text: 'Produkter',
    component: 'ProductPanel',
    icon: 'mdi mdi-archive-arrow-up',
    },
    {
    text: 'Tilføj Produkt',
    component: 'Addproduct',
    icon: 'mdi mdi-plus-circle'
  },
    ]
  },
  {
    text: 'Kategorier',
    icon: 'mdi mdi-list-box-outline',
    submenu: [
      {
        text: 'Kategorier',
        component: 'CategoryTable',
        icon: 'mdi mdi-list-box-outline',
      },
      {
        text: 'Tilføj Kategorier',
        component: 'AddCategory',
        icon: 'mdi mdi-plus-circle'
      }
    ]
  },
];
---
<Layout title="Medarbejderpanel">
  <main>
    <div id="navigation" style="margin-left: 250px;">
      <ComplexNavbar client:only />
    </div>
    <div id="sidebar">
      <Sidebar links={links} client:only />
    </div>
  </main>
</Layout>